.main_search{
    margin:0 auto;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
}
.main__wrapper_search{
    margin: 40px auto 0 auto;
    display: flex;
    justify-content:space-between ;
    width:96vw
}
.main__left-box{
    display:flex;
    flex-direction: column;
    width: 40vw;
}
.main_header{
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 50vw;
}
.upper-imgs{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: -9vw;
    gap: 15vw;
}
.searchBarImg{
    margin-top: 255px;
}
@media screen and (max-width: 1400px){
    .main__wrapper_search{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:96vw
    }
    .upper-imgs{
        display: none;
    }
    .main__left-box{
        width: 90%;
        align-items: center;
    }
    .main__left-box>section{
        width:70%;
    }
    .searchBarImg{
        margin-top: 10vh;
    }
    .main_header{
        align-self: flex-start;
    }
    .main_header+section{
        align-self: flex-start;
    }
}
@media screen and (max-width:900px){
    .searchBarImg{
        margin-top: 0vh;
        scale: 0.8;
        width: 330px;
    }
}
