.auth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

.auth__links {
  width: -webkit-fill-available;
}

.auth__link {
  display: inline-block;
  text-decoration: none;
  color: #029491;
  border-bottom: 3px solid #029491;
  margin-right: 15px;
  width: 35%;
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
  line-height: 35px;
  cursor: default;
  pointer-events: none;
}

.auth__link--disabled {
  color: #c7c7c7;
  border-bottom: 3px solid #c7c7c7;
  margin-right: 0px;
  width: 60%;
}

.auth__submit-button {
  width: -webkit-fill-available;
  background-color: #5970ff;
  color: #ffffff;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  cursor: initial;
}

.auth__recover-link {
  margin-top: 15px;
  color: #5970ff;
  cursor: default;
  pointer-events: none;
  font-size: 14px;
  letter-spacing: 2%;
}
