@font-face {
    font-family: "Ferry";
    font-style: normal;
    font-weight: 400;
    src: local("Ferry"),
         url("/fonts/ferry_black.otf") format("otf"),
  }
.Description__block{
    display: flex;
    justify-content: space-between;
}
.Description__title{
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    width: 84%;
}
.Description__paragraph{
    width: 78%;
    font-size: 20px;
    padding-top: 50px;
    line-height: 24px;
}
.RequestBtn{
    background-color: #5970FF;
    color: #FFFFFF;
    margin-top: 70px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    width: 335px;
}
@media screen and (max-width: 1150px) {
    .Description__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Description__paragraph{
        width: 100%
    }
    .Description__leftBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .funMan{
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .Description__title{
        font-size: 28px;
        line-height: 33px;
    }
}
    
