.authForm {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  gap: 15px;
  margin-top: 40px;
}
.authForm__label {
  color: #949494;
}
.authForm__input {
  height: 43px;
  border-radius: 5px;
  border: 2px solid #c7c7c7;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
}
.authForm__errorText {
  display: block;
  color: tomato;
  align-self: center;
  margin: -8px auto 10px auto;
}
