.MobileMenu{
    align-self: center;
    display: none !important;
}
.MobileMenu__button{
    background-color: white;
    border: none;
}
.MobileMenu__header{
    background-color: #029491;
}
.MobileMenu__body{
    background-color: #029491;
    display: flex;
    flex-direction: column;
}
.MobileMenu__link{
    opacity: 40%;
    align-self: center;
    margin: 60px 0 15px 0;
    color: #FFFFFF;
    text-decoration: none;
    pointer-events: none;
}
.nav{
    color: rgb(255, 255, 255);
}
.button{
    background-color: #7CE3E1;
    color:black;
    border: none;
    border-radius: 5px;
    width:80%;
    margin:0 auto;
    height:52px;
}
.own {
    background-color: white;
    border: none;
    outline: none !important;  
}
.closeButton > button{
    background:center url('../../../media/MobileMenu/closeBtn.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
@media screen and (max-width: 950px) {
    .MobileMenu {
        display: block !important; 
    }
}