.usageStats {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  height: 63px;
  border-radius: 5px;
  padding: 10px;
  font-size: 10px;
  line-height: 20px;
  align-items: flex-end;
  margin-right: 7vw;
}

.usageStats__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.usageStats__label {
  margin-right: 8px;
  opacity: 0.4;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
}

.usageStats__value {
  font-size: 14px;
  font-weight: 700;
}

.usageStats__value--black {
  color: black;
}

.usageStats__value--green {
  color: #8ac540;
}
