.avatar{
    display: flex;
}
.avatar__content{
    display: flex;
    flex-direction: column;
}
.avatar__button{
    border: none;
    font-size: 10px;
    line-height: 12px;
    background-color: white;
    opacity: 40%;
    text-align: flex-end;
}
.avatar__img{
    margin:5px 0 0 5px;
}