.resultsContainer {
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.resultsContainer__wrapper {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
}
.resultsContainer__section {
  width: 100%;
}
.resultsContainer__heading {
  font-family: "Ferry", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4%;
  font-weight: 900;
  margin-bottom: 36px;
}
.resultsContainer__heading--medium {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 2%;
  margin-bottom: 35px;
}
.resultsContainer__top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 950px) {
  .resultsContainer__heading {
    font-size: 28px;
    line-height: 34px;
  }
  .resultsContainer__top {
    flex-direction: column;
    align-items: center;
  }
  .resultsContainer__section {
    width: 80%;
  }
  .resultsContainer__imageBox > img {
    width: 96%;
  }
}
