.resultMain{
    margin: 0 auto;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
}
.resultMain__wrapper{
    display:flex;
    flex-direction: column;
    width:96%;
    margin:0 auto;
}
.upper__box{
   width:30%;
}
.upper__title{
    font-family: 'Ferry', Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4%;
    font-weight: 900;
    margin-bottom: 36px;
}
.upper__title_middle{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2%;
    margin-bottom: 35px;
}
.resultMain__upper{
    display:flex;
    justify-content: space-between;
}
@media screen and (max-width:950px) {
    .upper__title{
        font-size: 28px;
        line-height: 34px;
    }
    .resultMain__upper{
        flex-direction: column;
        align-items: center;
    }
    .upper__box{
        width:80%;
     }
    .img__box > img {
        width:96%;
    }
    .publicationCards__span{
        min-width: 75px;
    }
}