.slider{
    width:96%;
    margin:0 auto;
}
.slider__card{
    box-sizing: border-box;
    height: 225px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    width: 95%;
    margin: 10px;
    padding: 30px 20px;
}
.card__section{
    margin-top: 20px;
    width: 90%;
}
.slick-next:before{
    content: url('../../../../media/CommonAccess/MainCarousel/right-chevron.svg');
}
.slider__title{
    font-family: 'Ferry' , Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
}
@media all and (max-width: 750px) {
    .slider__title{
        font-size: 28px;
        line-height: 33px; 
    }   
}