.footer{
    margin-top: 80px ;
    background-color: #029491;
}
.footer__wrapper{
    width: 92vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer__connectInfo{
    text-align: flex-end;
    margin-top: 27px;
    color:white;
}

