.contentArea {
  margin: 0 auto;
}
.contentArea__wrapper {
  width: 96vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .contentArea__image {
    width: 100%;
  }
}
