.articleCards__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.articleCards__card {
  display: flex;
  flex-direction: column;
  width: 49%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.articleCards__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.articleCards__header {
  display: flex;
}
.articleCards__date {
  color: #949494;
  margin-right: 20px;
  min-width: 90px;
}
.articleCards__link {
  color: #5970ff; /* Brighter color for links for better visibility */
}
.articleCards__button {
  border: none;
  background-color: #7ce3e1;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px 20px;
}
.articleCards__footer {
  display: flex;
  justify-content: space-between;
}
.articleCards__wordCount {
  color: #949494;
  align-self: center;
}
.articleCards__image {
  max-width: 100%;
  display: block;
  margin-top: 15px;
}
.articleCards__showMoreButton {
  background: #5970ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
}
.articleCards__moreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 950px) {
  .articleCards__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .articleCards__card {
    width: 96%;
  }
}
