.authFooterContainer {
  width: 320px;
  align-self: flex-start;
  margin-top: 30px;
}
.authFooterTitle {
  color: #949494;
}
.authFooterSocials {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.authFooterSocialItem {
  border: 1px solid rgba(89, 112, 255, 0.51);
  border-radius: 3px;
}
.authFooterSocialLink {
  display: block;
  padding: 5px 15px;
}
