.formFooterContainer{
    width: 320px;
    align-self: flex-start;
    margin-top: 30px;
}  
.formFooterSection{
    color: #949494;
}
.formFooterBox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.formFooterBoxItem{
    border: 1px solid rgba(89, 112, 255, 0.51);
    border-radius: 3px;
}
.formFooterBoxLink{
    display: block;
    padding: 5px 15px;
}
