@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"),
       url("/fonts/Inter-Medium.ttf") format("ttf"),
}
body {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}
