.searchForm{
    width:55vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    border-radius: 10px;
}
.searchForm__wrapper{
    display:flex;
    padding:21px 39px 32px 44px;
    justify-content: space-between;
}
.searchForm__inputs{
    display: flex;
    flex-direction: column;
    width:50%;
}
.searchForm__btn{
    display:flex;
    flex-direction: column;
}
.input{
    padding:13px;
    border:1px solid #C7C7C7;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0 30px 0;
    width:60%;
}
#tone {
    appearance: none;
    overflow: hidden;
    background: url('../../../media/S-Page/SearchForm/selectArrov.svg') no-repeat center;
    background-position-x: 95%;
}
#start::-webkit-calendar-picker-indicator, #end::-webkit-calendar-picker-indicator{
    background: url('../../../media/S-Page/SearchForm/selectArrov.svg') no-repeat center;
    background-position-x: 95%;
}
#start, #end{
    margin-right: 20px;
    width:44%;
}
.label{
    font-size: 18px;
}
.sup{
    font-size: 17px;
}
.checkBox{
    appearance: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 78% 87%;
    
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid black;
    margin-right: 0.9em;
    margin-top: -3px;
}
.checkBox:checked{
    content: url('../../../media/S-Page/SearchForm/tick.svg');
}
.check{
    margin-bottom: 15px;
}
.searchForm__checkBoxes{
    margin-top: 10px;
}
.toggleSvg{
    display:none;
}
.searchForm__button{
    background-color: #5970FF;
    color: #FFFFFF;
    margin-top: 70px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    width: 335px;
}
.toggle-btn{
    display:none;
}
.searchForm__checkBoxesAndBtn{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.requestForm__button{
    background-color: #5970FF;
    color: #FFFFFF;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}
.main__right-box{
    display: flex;
    flex-direction: column;
    position: relative;
}
input:disabled{
    opacity: 40%;
}
.disabled{
    opacity: 40%;
}
.errorSup {
    color:tomato;
}
.innError{
    color:tomato;
    margin-top: -30px;
    font-size: 15px;
}
.inputError{
    background-color: rgb(254, 240, 174);
    color:tomato;
    padding:13px;
    border:1px solid tomato;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0 30px 0;
    width:60%;
}
@media screen and (max-width: 1400px){
    .searchForm__wrapper{
        position: relative;
    }
    .searchForm{
        width:97vw;
    }
    .toggleSvg{
        margin: -160px 0px 0 60vw;
        display:block;
        position:absolute;
    }
    .dateSpan{
        display: flex;
        flex-direction: column;
    }
    .dateSpan>input{
        margin:0px
    }
    #start, #end{
        width:60%;
        margin: 10px 0;
    }
    .dateError{
        margin-top: -10px;
    }
}
@media screen and (max-width: 900px){
    .searchForm__checkBoxesAndBtn{
        display: none;
    }
    .toggle-btn{
        display: block;
        margin-top: 30px;
    }
    .input, #start, #end{
        width: 98%;
    }
    .searchForm__wrapper{
        justify-content: center;
    }
    .searchForm__inputs{
        min-width: 350px;
    }
    .searchBarImg{
        min-width:330px ;
    }
}
