@font-face {
  font-family: "Ferry";
  font-style: normal;
  font-weight: 400;
  src: local("Ferry"), url("/fonts/ferry_black.otf") format("otf");
}

.subscription {
  margin-top: 45px;
}

.subscription__container {
  width: 96vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.subscription__icon {
  position: absolute;
  margin: -67px 0px 0px -56px;
}

.subscription__auth {
  position: relative;
  width: 480px;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin: 40px 70px 0px 0px;
}

@media (min-width: 900px) {
  .subscription__heading {
    font-family: "Ferry", Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 682px;
    font-size: 40px;
    text-transform: lowercase;
    line-height: 48px;
    margin-left: 50px;
  }
}

@media (max-width: 899px) {
  .subscription__heading {
    font-family: "Ferry", Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 352px;
    font-size: 30px;
    text-transform: lowercase;
    line-height: 40px;
  }
}

.subscription__image {
  margin-left: 50px;
}

@media (max-width: 1270px) {
  .subscription__container {
    flex-direction: column;
    align-items: center;
  }
  .subscription__info {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .subscription__image {
    margin-top: 60px;
    align-self: center;
  }
  .subscription__auth {
    margin: 40px 0px 0px 0px;
  }
}

@media screen and (max-width: 680px) {
  .subscription {
    margin-top: 10px;
  }
  .subscription__heading {
    width: 66vw;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 70px;
  }
  .subscription__icon {
    margin: -80px 0px 0px 70px;
  }
}

@media screen and (max-width: 600px) {
  .subscription__auth {
    width: 94%;
  }
}
